<div class="login-container container">
  <div class="panel">
    <div class="panel-body">
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      <form method="POST">
        <legend>Sign Up</legend>
        <div class="form-group">
          <input type="text" name="name" id="name" placeholder="Name" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" id="password" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
                  <button type="submit" class="btn btn-twitter full-width-btn">Sign Up</button>
</div>
      </form>
      <div class="hr-title"><span>or continue with</span></div>
      <div class="btn-toolbar text-center" style="position: relative; left: 5px">
        <a href="/auth/facebook" style="margin-right: 25px"><i class="icon facebook"></i> Facebook</a>
        <a href="/auth/twitter" style="margin-right: 25px"><i class="icon twitter"></i> Twitter</a>
        <a href="/auth/google" ><i class="icon google"></i> Google</a>
      </div>
    </div>
  </div>
  <p class="text-center">
    Already registered? <a href="/login"><strong>Log in here</strong></a>
  </p>
</div>
