
  <footer style="padding: 10px">
      <span style="float: left">
                       <a href="#" class="item">About</a>
</span>


    <div style="display: inline-block; float: right">

      <a href="https://twitter.com/DonateForDonald" class="item"><i class="ui icon twitter"></i></a>
      <a href="https://www.facebook.com/donatefordonald/" class="item"><i class="ui icon facebook"></i></a>

      <a href="mailto:contact@donatefordonald.org" class="item"><i class="ui icon envelope"></i></a>

    </div>
  </footer>
