
  <footer style="padding: 7.5px; width: 100%; font-size: 12px; background-color: rgba(255,255,255,0.7)">

    <div style="display: inline-block; float: right">

      <a href="https://www.facebook.com/donatefordonald/" class="item" style="color: #00aced; position: relative; right: -15px"><i class="ui icon facebook"></i> <span class="mobile-social-label">Like Us</span></a>

      <a href="https://twitter.com/DonateForDonald" class="item" style="color: #00aced; position: relative; right: -5px"><i class="ui icon twitter"></i> <span class="mobile-social-label">Follow Us</span></a>



      <a href="mailto:team@donatefordonald.org" class="item" style="color: #00aced;"><i class="ui icon envelope"></i> <span class="mobile-social-label">Get In Touch</span></a>

    </div>
  </footer>
