
  <footer style="padding: 15px; font-size: 16px">
      <span style="float: left">
      <a href="https://www.facebook.com/donatefordonald/" class="item"><i class="ui icon facebook"></i> Like</a></span>

      <a href="https://twitter.com/DonateForDonald" class="item"><i class="ui icon twitter"></i>Follow</a>


    <div style="display: inline-block; float: right">


      <a href="mailto:donatefordonald@gmail.com" class="item"><i class="ui icon envelope"></i> Contact</a>

    </div>
  </footer>
