
  <footer style="padding: 10px">
      <span style="float: left">
                       <a href="#" class="item"><i class="ui icon medium"></i>Article</a>
</span>
    <span style="float: left; display: none">

                       <a href="#" class="item"><i class="ui icon github"></i>Source</a>
</span>

    <div style="display: inline-block; float: right">

      <a href="https://twitter.com/DonateForDonald" class="item"><i class="ui icon twitter"></i></a>
      <a href="#" class="item"><i class="ui icon facebook"></i></a>

      <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i></a>

    </div>
  </footer>
