  <header>
    <!-- Navigation -->
    <nav class="ui squared menu js-nav">
      <!-- Logo -->
      <div class="item">
        <a href="/">
          <img src="/images/profile.jpg" class="logo" />
        </a>
      </div>
      <div class="item share-buttons">

      <a class="ui button facebook icon" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.donatefordonald.org">
        <i class="facebook icon"></i>
        <span class="share-text"> Share</span>
      </a>
           <a class="ui button twitter icon" href="https://twitter.com/home?status=http%3A//www.donatefordonald.org" >
        <i class="twitter icon"></i>
        <span class="share-text"> Tweet</span>
      </a>
    </div>
      <!-- Login -->
      <div class="right menu">
        {{#if user}}
        <div class="ui pointing dropdown link item" style="border-left: none;">
          {{#if user.picture}}
          <img src="{{user.picture}}" class="user-picture" style="display:inline-block; border-radius: 100%; max-height: 40px; margin-right: 10px"/>
          {{/if}}
          {{#if user.name}}
                    {{user.name}}
          {{/if}}

          <i class="dropdown icon"></i>
          <div class="menu js-user-menu user-menu">
            <a href="/triggers">
            <div class="item">
              <i class="icon lightning"></i> Triggers
            </div></a>
            <a href="/donations">
            <div class="item">
              <i class="icon usd"></i> Donations
            </div></a>
           

            <a href="/payment"><div class="item">
              <i class="icon credit card alternative"></i> Payment
            </div>
            </a>
            {{#if user.admin}}
            <a href="/admin" ><div class="item">
              <i class="icon lab"></i> Admin
            </div>
            </a>
            {{/if}}
            <a href="/contact"><div class="item">
              <i class="icon envelope alternative"></i> Contact
            </div>
            </a>
             <a href="/settings"><div class="item">
              <i class="icon settings"></i> Settings
            </div>
                        </a>
            <div class="js-logout logout">
              <a href="/logout" class="ui button fluid large primary">Logout</a>
            </div>
          </div>
        </div>
        {{else}}
              <div class="login js-login">
        <a class="ui button primary text login" href="/login">Login</a>
      </div>
        {{/if}}
      </div>
    </nav>
  </header>
