<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{#if title}} {{title}} | {{/if}}Donate For Donald</title>

<meta name="description" content="When Trump goes low, go high - automatically.">
<meta name="author" content="Arianna Israel">

{{!-- Twitter Card --}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@donatefordonald">
<meta name="twitter:creator" content="@donatefordonald">
<meta name="twitter:title" content="{{#if title}} {{title}} | {{/if}}Donate For Donald">
<meta name="twitter:description" content="When Trump goes low, go high - automatically. Create triggers to donate to charity when Donald tweets specific phrases!">
<meta name="twitter:image" content="https://www.donatefordonald.com/images/color-mask.png">
{{!-- /Twitter Card --}}

{{!-- FB Sharing --}}
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="202271326917951"  />
<meta property="og:title" content="{{#if title}} {{title}} | {{/if}}Donate For Donald" />
<meta property="og:url" content="{{url}}" />
<meta property="og:image" content="https://www.donatefordonald.com/images/color-mask.png" />
<meta property="og:image:secure_url" content="https://www.donatefordonald.com/images/color-mask.png" />
{{!-- /FB Sharing --}}
