@import url("//fonts.googleapis.com/css?family=Lato:300,400,600,700,800%7CRaleway:100,300,600,700,800");
/* Reset */
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

html,
body {
    width: 100%;
    height: 100%;
}
/* Utilities */

.center {
    margin: 0 auto;
}
.understated {
    text-transform: uppercase;
    font-size: 80%;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline
}
.tweet-drawer {
    width: 40% !important;
}
.tweet-controls {
    z-index: 999 !important;
}
.squared {
    border-radius: 0px !important;
}
.field > .label {
    color: #888 !important;
}
nav > .share-buttons > .facebook {
    margin-right: 10px !important;
}
.user-menu > .logout {
    padding: 10px
}
.nav > .right > .dropdown > img {
    display: inline-block;
    border-radius: 100% !important;
    max-height: 40px;
    margin-right: 10px
}
nav > .login {
    padding-top: 18px;
    padding-right: 10px
}
.user-menu {
    min-width: 175px;
    width: 175px;
    font-size: 18px
}
.user-menu > a {
    color: #555;
}
/* Global */

body {
    background-color: #ffffff;
}

.trigger-title {
    font-family: 'Bangers', cursive !important;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 26px !important;
}
.site {
    /* Flexbox */

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.web-form {
    width: 100%;
    max-width: 500px;
    width: 500px;
    margin: 5% auto
}
.forgot-pass {
    color: #00aced !important;
}
a.forgot-pass:hover {
    color: #0084b4 !important;
    border-bottom: 1px solid #0084b4 !important
}
.headline {
    font-weight: 400;
    font-size: 28px;
}
.subheader {
    margin: 18px auto;
    display: block;
    line-height: 150%;
    font-weight: 400;
    font-size: 16px;
    color: #888;
}
.landing-form > .triggers {
    max-width: 500px;
}
.landing-form {
    padding-top: 30px;
}

.tagul-canvas {}

.hide-overflow {
    overflow-y: hidden!important;
}
.main-landing {
    height: 100%;
}
/* Overrides */

.primary {
    background-color: #00aced !important;
}
button.primary:hover {
    background-color: #0084b4 !important;
}
.landing-form > .charities {
    max-width: 500px;
    margin-bottom: 20px;
}
/* Landing */

.field {
    border-bottom: none !important;
    text-decoration: none !important;
}
.two-buttons {
    padding-top: 30px;
}
.two-buttons > div {
    width: 49.5%;
    display: inline-block;
}
.two-buttons > div.left-button {
    padding-right: 5px;
}
.two-buttons > div.right-button {
    padding-left: 5px;
}
.landing-form {
    max-width: 500px;
    margin: 0 20px;
}
.greyed-out {
    color: #ddd !important;
}
.amount-10 {
    margin-right: 8px;
}
.landing-form .selected-amount {
    background-color: #00aced !important;
    color: #fff !important;
}
.dollar-sign {
    color: #999;
    font-size: 20px;
    position: relative;
    left: 110px;
    z-index: 222 !important;
}
.drawer-controls > a > i.twitter {
    position: relative;
    left: -5px;
}
.user-dropdown {
    z-index: 999 !important;
}
.drawer-controls > a > button {
    float: right;
    top: -2px;
    position: relative;
}
.drawer-controls > a > i.cancel {
    position: relative;
    top: -2px;
}
.landing-page {
    height: 100% !important;
}
nav {
    z-index: -1 !important;
}
.landing-form > .charities {
    padding-top: 10px;
}
.main-landing {
    max-height: 100% !important;
}
.amounts {
    width: 100%;
}
.field {
    border-bottom: none !important;
}
.amount-1,
.amount-5,
.amount-10 {
    padding: auto !important;
}
.amount-other > input {
    padding-left: 30px !important;
}
.menu {
    z-index: 888 !important;
}
.amount-other > a.label {
    padding-left: 20px;
    padding-right: 20px;
}


@media only screen and (max-width: 500px) {
    .headline {
        font-size: 22px !important;
        font-weight: 700;
        padding-top: 10px !important
    }

.mobile-field {
    margin-top: 10px!important;
}

.trigger-actions {
    margin-top: 10px !important;
    padding-bottom: 20px;
}

    .charity-image {
        display: none !important;
    }
    .subheader {
        font-size: 14px;
        width: 103%;
    }
    .tweet-drawer {
        z-index: 999 !important;
        width: 100% !important;
    }
    .save-payment-btn {
        margin: 20px;
    }
    .web-form {
        margin-bottom: 0px !important;
    }
    .two-buttons {
        position: relative;
        top: -10px;
    }
    .two-buttons > div.left-button {
        padding-right: 0px;
    }
    .two-buttons > div.right-button {
        margin-top: 10px;
        padding-left: 0px;
    }
    .share-text {
        display: none !important;
    }

    .landing-form .left-button {
        display: block !important;
        width: 100% !important;
    }
    img.user-picture {
        border-radius: 100% !important;
    }
    .login-button {
        display: inline-block;
        padding: auto 5px !important;

    }
    .signup-button {
        display: inline-block;
        padding: auto 5px !important;

    }
    .forgot-pass {
        display: block;
        margin-bottom: 10px;
        clear: both;
    }
    .new-line {
        display: block;
        margin-top: 20px;
    }
    .terms-container p {
        position: relative !important;
        left: 30px !important;
    }
    .landing-form .right-button {
        width: 100%;
    }
    .amounts > a {
        border-right: 1px solid #888;
    }
    .amounts {
        width: 80%;
        margin: 0 auto;
    }
    .tweet-drawer {
        width: 100% !important;
    }
    .landing-right {
        padding-right: 10px !important;
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
    main {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 800px) {
    .tweet-drawer {
        z-index: 999 !important;
        width: 100% !important;
        max-width: 500px !important;
    }
    .tweet-embed {
        margin-top: 0px !important;
    }
}
@media only screen and (max-width: 900px) {
    .landing-left {
        display: none;
    }
    .landing-right {
        width: 100% !important;
        padding-left: 10px;
    }
}
.amount-other {
    width: 120px;
    position: relative;
    left: -15px;
    height: 51.5px;
}
.amount-other > a {
    padding: auto 10px !important;
}
.amount-other > input {
    padding-left: 20px;
}
.tweet-count {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}
.landing-form > .selected-amount {
    background-color: #00aced !important;
    color: #fff !important;
}
.drawer-controls span {
    /* Count for tweets */

    color: rgba(255, 255, 255, 0.7);
    padding: 0px 5px;
    font-weight: 400
}
/* Navigation */

.logo {
    height: 40px;
}
/* Drawer */

.tweet-drawer {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    overflow-x: hidden;
}
.drawer-controls > button {
    border-radius: 0px !important;
}
.hashtag a {
    color: #00aced;
    display: inline-block;
    font-weight: 700
}
.landing-right {
    margin: 0 auto;
    float: right;
    width: 50%;
    padding-top: 50px;
}
.landing-left > img {
    position: relative;
    margin-top: 6%;
    height: auto;
    width: 100%
}
.landing-left {
    float: left;
    width: 50%;
    padding-left: 40px
}
.landing-right > div {
    margin: 0 auto;
    padding-top: 6%;
    max-width: 500px;
}
.headline > span {
    color: #00aced;
    font-weight: 700;
}
footer a.item {
    margin: 0px 10px;
}
main {
    height: 100% !important;
    width: 100%
}
.landing-right {
    padding-right: 20px;
}
.landing-left > img {
    height: 100% !important;
    width: 95% !important;
}
.landing-left {
    width: 50% !important;
    margin-top: 2% !important;
}
body {
    width: 100%;
}
.no-triggers {
  text-align: center;
}
