.hide {
  visibility: hidden !important;
  display: none !important;
}

.hidden {
  visibility: hidden !important;
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.display-none {
  display: none !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.top-margin-10 {
  margin-top: 10px;
}
