<tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Hi there,</p>
                        <p>Please confirm your email address to start donating.</p>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td> <a href="{{baseUrl}}/confirm_email?token={{token}}" target="_blank">Confirm My Account</a> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>Hope you're not tired of all this winning yet - this is the last step!Get ready to turn his next Fox-fueled Twitter tirade into something good.
</p>
                        <p>Thanks for signing up!</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>