Please click <a href="{{baseUrl}}/confirm_email?token={{token}}">here</a> to confirm your email address.

If you cannot see the above link, copy and paste the following into your browser:

{{baseUrl}}/confirm_email?token={{token}}
