You forgot your email password. SAD! 

Please click <a href="{{baseUrl}}/reset?token={{token}}">here</a> to reset your password your email address.

If you cannot see the above link, copy and paste the following into your browser:

{{baseUrl}}/reset?token={{token}}
