<h3>Welcome to Donate for Donald! </h3>
Please confirm your email address to start donating. Hope you're not tired of all this winning yet - this is the last step!

<span>Click the following link to confirm your account: </span>
<a href="{{baseUrl}}/confirm_email?token={{token}}">Confirm My Account</a>
<br>
Get ready to turn his next Fox-fueled Twitter tirade into something good. Thanks for signing up!

If you have any feedback or questions, get in touch! Email us at <a href="mailto:donatefordonald@gmail.com">donatefordonald@gmail.com</a>.

<p style="color: #888; padding-top: 10px; border-top: 1px solid #eee; font-size: 80%">If you did not create an account, please disregard this email.</p>