<main class="login-page" style="width: 100%">
  <div class="ui text container" style="width: 100%; max-width: 400px; width: 500px; margin: 5% auto">
    <a href="/">
      <img src="/images/profile.jpg" style="width: 100px; height: auto; margin-bottom: 40px" />
    </a>
    <h1>Thanks for confirming your email!</h1>
    <br>
    <a href="/" class="ui huge primary button fluid"><i class="home icon"></i> Return Home</a>
  </div>
</main>