{{> header}}
<main>
  <div class="ui text container web-form">
    <h1>{{title}}
    </h1>
    <div class="ui subheader"><span>Send a message or email <a href="mailto:team@donatefordonald.org">team@donatefordonald.org</a>.</span>
    </div>
    <form class="ui large form">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="two fields">
      <div class="field">
        <label>Email</label>
        <div class="ui input fluid">
          <input type="email" placeholder="Email" name="email">
        </div>
      </div>
      <div class="field">
        <label>Subject</label>
        <div class="ui input fluid">
          <input type="text" maxlength="60" placeholder="Subject" name="subject">
        </div>
      </div>
    </div>
      <div class="field">
        <label>Message</label>
        <div class="ui input fluid">
          <textarea placeholder="Message" name="message" rows="5"></textarea>
        </div>
      </div>
      <div class="send-message js-send-message">
        <button class="ui primary massive button fluid" type="submit">Send</button>
      </div>

    </form>
  </div>
</main>
