<div class="donations-page">
  {{> header}}
  <div class="ui container top-margin-10" style="margin-top:5%">
    <h1>My Donations</h1>
    {{#if donations}}

    <table class="ui unstackable single line table">

      <thead>
        <tr>
          <th>Amount</th>
          <th>Charity</th>
          <th>Tweet</th>
        </tr>
      </thead>
      <tbody>
        {{#each donations}}

        <tr>
          <td><i class="ui icon green usd"></i>{{this.donations.amount}}</td>
          <td>{{this.charity.name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <p>No donations. <a href="/">Make some triggers!</a></p>
    {{/if}}

  </div>
</div>