<script src="//cdn.wordart.com/wordart.min.js" async defer></script>
    <div style="display: none" class="no-mobile">Sorry, we only display this on desktop! You can visit the main site <a href="/">here</a>.</div>

<div style="width: 100%; height: 100%" class="desktop-only">
<div style="width: auto; height: 100%;" data-wordart-src="//cdn.wordart.com/json/ii4lxbotn8on"></div>
</div>

