<header>
  <!-- Navigation -->
  <nav class="ui squared menu">
    <!-- Logo -->
    <div class="item">
      <a href="#">
        <img src="/images/profile.jpg" class="logo" />
      </a>
    </div>
    <div class="item">
     <button class="ui button twitter icon" href="#" style="margin-right: 10px">
        <i class="twitter icon"></i>
        <span class="share-text">Tweet</span>
      </button>
      <button class="ui button facebook icon" href="#">
        <i class="facebook icon"></i>
        <span class="share-text">Share</span>
      </button>
    </div>
    <!-- Login -->
    <div class="right menu">
      <div class="login js-login" style="padding-top: 18px; padding-right: 10px">
        <button class="ui button primary text">Login</button>
      </div>
    </div>
  </nav>
</header>
<main>
  <section class="landing-left">
    <img src="/images/color-mask.png" />
  </section>
  <section class="landing-right">
    <div>
      <h1 class="headline">When Trump goes low, you go high. <br><span>Automatically. Even at 3AM.</span></h1>
      <p class="subheader"> Pick the Trumpism you <i>hate</i>, the charity you <i>love</i>, and the amount per tweet. Weather the next tweetstorm
        and turn his Fox-fueled anger into something good.<span class="hashtag"><a href="#" >#DonateForDonald</a></span></p>
    </div>


    <div class="ui form landing-form">
      <div class="center triggers js-select-trigger">
        <div class="ui huge dropdown labeled fluid inline search icon basic button">
          <i class="quote left icon"></i>
          <span class="text">Trigger</span>
          <div class="menu">
            <div class="item">fake news</div>
            <div class="item">great</div>
            <div class="item">#maga</div>
            <div class="item">healthcare</div>
            <div class="item">Obama</div>
            <div class="item">election</div>
            <div class="item">@VP Pence</div>
          </div>
        </div>
      </div>
      <div class="center charities js-select-charity">

        <div class="ui huge dropdown labeled fluid inline basic search icon button">
          <i class="heart icon"></i>
          <span class="text">Charity</span>
          <div class="menu" id="charities">
          </div>
        </div>
        <br>

        <!-- Choose amount -->
        <!-- Choose amount -->
        <div class="choose-amount js-amounts">
          <a class="ui huge toggle button amount-1">$1</a>
          <a class="ui huge toggle button amount-5">$5</a>
          <a class="ui huge toggle button amount-10">$10</a>
          <span class="new-line">
            <span class="dollar-sign greyed-out">$</span>
            <div class="ui labeled huge input amount-other js-amount-other">
              <a class="ui huge toggle button label">
                  Other
                </a>
              <input type="text" placeholder="25" disabled></input>
            </div>
          </span>
        </div>
        <!-- End choose amount -->
        <!-- End choose amount -->

        <!-- Landing CTAs -->
        <div class="two-buttons">

          <!-- CTA: View Tweets -->
          <div class="left-button">
            <button class="ui basic icon huge button fluid js-tweets">
                <i class="twitter icon"></i> View Tweets
              </button>
          </div>
          <!-- End CTA: View Tweets -->

          <!-- CTA: Donate -->
          <div class="right-button js-donate">
            <button class="ui huge icon primary button fluid">
                <i class="lightning icon"></i> Donate
              </button>
          </div>
          <!-- End CTA: Donate -->

        </div>
        <!-- End landing CTAs -->

      </div>

    </div>
  </section>

  <div class="ui left sidebar overlay wrapper tweet-drawer js-tweet-drawer">

    <div class="drawer-controls">
      <a class="ui fluid massive primary button icon squared">
        <i class="twitter icon" style="position: relative; left: -5px"></i> fake news <span class="tweet-count">(100)</span>
        <button class="ui button primary mini icon js-close-tweets" id="close-tweets" style="float: right; top: -2px; position: relative"><i style="position: relative; top: -2px" class="ui large cancel icon"></i></button>
      </a>
    </div>
    <div class="tweets ui one column divided grid long">
      <div class="item row">
        <div class="column">
          <div class="tweet-embed">
            <blockquote class="twitter-tweet tw-align-center" data-lang="en" data-conversation="none">
              <a href="https://twitter.com/realDonaldTrump/status/846854703183020032"></a>
            </blockquote>
          </div>
          <div class="tweet-triggers js-tweet-triggers">
            <div class="ui tag large labels">
              <a class="ui label">fake news</a>
              <a class="ui label">Russia</a>
              <a class="ui label">totally</a>
            </div>
          </div>
          <div class="tweet-divider">
          </div>
        </div>

      </div>
      <div class="item row">
        <div class="column">
          <div class="ui tweet-embed">
            <blockquote class="twitter-tweet tw-align-center" data-lang="en" data-conversation="none">
              <a href="https://twitter.com/realDonaldTrump/status/844886082663698436"></a>
            </blockquote>
          </div>
          <div class="tweet-triggers js-tweet-triggers">
            <div class="ui tag large labels">
              <a class="ui label">fake news</a>
              <a class="ui label">Russia</a>
              <a class="ui label">totally</a>
            </div>
          </div>
          <div class="tweet-divider">
          </div>
        </div>
      </div>
      <div class="item row">
        <div class="column">
          <div class="ui tweet-embed">

            <blockquote class="twitter-tweet tw-align-center" data-lang="en" data-conversation="none">
              <a href="https://twitter.com/realDonaldTrump/status/832230758299340800"></a>
            </blockquote>
          </div>
          <div class="tweet-triggers js-tweet-triggers ">
            <div class="ui tag large labels">
              <div class="ui tag large labels">
                <a class="ui label">fake news</a>
                <a class="ui label">Russia</a>
                <a class="ui label">totally</a>
              </div>
            </div>
            <div class="tweet-divider">
            </div>
          </div>
        </div>
        <div class="item row">
          <div class="column">
            <div class="ui tweet-embed">

              <blockquote class="twitter-tweet tw-align-center" data-lang="en" data-conversation="none">
                <a href="https://twitter.com/realDonaldTrump/status/832230758299340800"></a>
              </blockquote>
            </div>
            <div class="tweet-triggers js-tweet-triggers">
              <div class="ui tag large labels">
                <div class="ui tag large labels">
                  <a class="ui label">fake news</a>
                  <a class="ui label">Russia</a>
                  <a class="ui label">totally</a>
                </div>
              </div>
              <div class="tweet-divider">
              </div>
            </div>
          </div>
        </div>
      </div>
</main>
<!--
<footer>
  <span style="float: left">                      <a href="#" class="item"><i class="ui icon github"></i>View Source</a>
</span>
  <div style="display: inline-block; float: right">

    <a href="#" class="item"><i class="ui icon twitter"></i> Twitter</a>
    <a href="#" class="item"><i class="ui icon facebook"></i> Facebook</a>

    <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i> Contact</a>

  </div>
</footer>
-->
<!-- Load vendor scripts -->
