  {{> header}}

  <main class="main-landing">
    <section class="landing-left" style="position: relative; top: -100px;">
      <div style="width: auto; height: 800px; z-index: -1" data-tagul-src="//cdn.wordart.com/json/m8k9mxvep085" class="js-word-cloud"></div>
    </section>
    <section class="landing-right">
      <div>
        <h1 class="headline">When Trump goes low, you go high. <br><span>Automatically. Even at 3AM.</span></h1>
        <p class="subheader"> Pick the Trumpism you <i>hate</i>, the charity you <i>love</i>, and the amount per tweet. Weather the next tweetstorm
          and turn his Fox-fueled anger into something good. <span class="hashtag"><a href="https://twitter.com/search?q=%23DonateForDonald&src=typd&lang=en" >#DonateForDonald</a></span></p>
      </div>


      <div class="ui form landing-form">
        <div class="center triggers js-select-trigger">
          <div class="ui huge dropdown labeled fluid inline search icon basic button">
          <input type="hidden" name="trigger">
            <i class="quote left icon"></i>
            <div class="default text js-trigger-text">Trigger</div>
            <div class="menu js-fill">
            </div>
          </div>
        </div>
        <div class="center charities js-select-charity">
          <div class="ui huge dropdown labeled fluid inline basic search icon button">
           <input type="hidden" name="charity">
            <i class="heart icon"></i>
            <div class="default text">Charity</div>
            <div class="menu" id="charities">
            </div>
          </div>
          <br>

          <!-- Choose amount -->
          <div class="choose-amount js-amounts">
            <a class="ui huge toggle button amount-1">$1</a>
            <a class="ui huge toggle button amount-5">$5</a>
            <a class="ui huge toggle button amount-10">$10</a>
            <span class="new-line">
            <span class="dollar-sign greyed-out">$</span>
            <div class="ui labeled huge input amount-other js-amount-other">
              <a class="ui huge toggle button label">
                  Other
                </a>
              <input type="number" name="amount" placeholder="25" min="1" max="9999" disabled></input>
            </div>
            </span>
          </div>
          <!-- End choose amount -->

          <!-- Landing CTAs -->
          <div class="two-buttons">


            <!-- CTA: Donate -->
            <div class="left-button js-donate">
              <button class="ui huge icon primary button fluid" onclick="landingDonate()">
                <i class="lightning icon"></i> Donate
              </button>
            </div>
            <!-- End CTA: Donate -->
            <!-- CTA: View Tweets -->
            <div class="right-button">
              <button class="ui basic icon huge button fluid js-tweets" >
                <i class="twitter icon"></i> View Tweets
              </button>
            </div>
            <!-- End CTA: View Tweets -->

          </div>
          <!-- End landing CTAs -->

        </div>

      </div>
    </section>

    <div class="ui left sidebar overlay wrapper tweet-drawer js-tweet-drawer" style="z-index: 999; margin: 0px; padding: 0px">
      <div class="drawer-controls">
        <a class="ui fluid massive primary button icon squared">
          <div style="position: relative; left: 10px">
          <i class="twitter icon"></i><span class="js-tweet-term" style="color: #fff"></span><span class=" tweet-count js-tweet-count"></span>
          <button class="ui button primary mini icon js-close-tweets" id="close-tweets" style="float: right; top: -2px; position: relative"><i style="position: relative; top: -2px" class="ui large cancel icon"></i></button>
          </div>
        </a>
      </div>
      <div class="tweets">
        <p style="text-align: center; font-size: 20px; margin-top: 30px">Select a trigger to view tweets</p>
      </div>
    </div>
</div>
</main>

<script>
  var whitelist = ['Ocare', 'Chicago', 'inner cities', 'sad', 'total scam', 'Obama', 'Jobs, Jobs, Jobs', 'ratings', 'The Apprentice'];
  var blacklist = ['washinon', 'jobs jobs jobs'];
  $(document).ready(function () {

    jQuery.getJSON('/api/terms', function (data) {
      var postedTerms = [];
      for (var i = 0; i < data.length; i++) {
        var html = '<div class="js-trigger-item item">' + data[i].term + '</div>';
        if (blacklist.indexOf(data[i].term.toLowerCase()) < 0 && postedTerms.indexOf(data[i].term.toLowerCase()) < 0) {
          $('.js-select-trigger .js-fill').append(html);
          postedTerms.push(data[i].term.toLowerCase());
        }
      }
      var wlHtml = '';
      whitelist.forEach(function (term) {
        if (postedTerms.indexOf(term.toLowerCase()) < 0) {
          wlHtml = '<div class="item js-trigger-item">' + term + '</div>';
          $('.js-select-trigger .js-fill').append(wlHtml);
        }
      });
    })

  })

</script>
