  {{> header}}

  <main class="main-landing">
    <section class="landing-left">
      <img src="/images/color-mask.svg" />
    </section>
    <section class="landing-right">
      <div>
        <h1 class="headline">When Trump goes low, you go high. <br><span>Automatically. Even at 3AM.</span></h1>
        <p class="subheader"> Pick the Trumpism you <i>hate</i>, the charity you <i>love</i>, and the amount per tweet. Weather the next tweetstorm
          and turn his Fox-fueled anger into something good. <span class="hashtag"><a href="https://twitter.com/search?q=%23DonateForDonald&src=typd&lang=en" >#DonateForDonald</a></span></p>
      </div>


      <div class="ui form landing-form">
        <div class="center triggers js-select-trigger">
          <div class="ui huge dropdown labeled fluid inline search icon basic button">
            <i class="quote left icon"></i>
            <span class="text">Trigger</span>
            <div class="menu js-fill">
            </div>
          </div>
        </div>
        <div class="center charities js-select-charity">

          <div class="ui huge dropdown labeled fluid inline basic search icon button">
            <i class="heart icon"></i>
            <span class="text">Charity</span>
            <div class="menu" id="charities">
            </div>
          </div>
          <br>

          <!-- Choose amount -->
          <div class="choose-amount js-amounts">
            <a class="ui huge toggle button amount-1">$1</a>
            <a class="ui huge toggle button amount-5">$5</a>
            <a class="ui huge toggle button amount-10">$10</a>
            <span class="new-line">
            <span class="dollar-sign greyed-out">$</span>
            <div class="ui labeled huge input amount-other js-amount-other">
              <a class="ui huge toggle button label">
                  Other
                </a>
              <input type="number" placeholder="25" disabled></input>
            </div>
            </span>
          </div>
          <!-- End choose amount -->

          <!-- Landing CTAs -->
          <div class="two-buttons">


            <!-- CTA: Donate -->
            <div class="left-button js-donate">
              <button class="ui huge icon primary button fluid">
                <i class="lightning icon"></i> Donate
              </button>
            </div>
            <!-- End CTA: Donate -->
            <!-- CTA: View Tweets -->
            <div class="right-button">
              <button class="ui basic icon huge button fluid js-tweets">
                <i class="twitter icon"></i> View Tweets
              </button>
            </div>
            <!-- End CTA: View Tweets -->

          </div>
          <!-- End landing CTAs -->

        </div>

      </div>
    </section>

    <div class="ui left sidebar overlay wrapper tweet-drawer js-tweet-drawer" style="z-index: 999">

      <div class="drawer-controls">
        <a class="ui fluid massive primary button icon squared">
          <i class="twitter icon" style="position: relative; left: -5px"></i> fake news <span class="tweet-count">(<span class="js-tweet-count" style="margin: 0px; padding: 0px">100</span>)</span>
          <button class="ui button primary mini icon js-close-tweets" id="close-tweets" style="float: right; top: -2px; position: relative"><i style="position: relative; top: -2px" class="ui large cancel icon"></i></button>
        </a>
      </div>
      <div class="tweets">
        <div class="tweet-embed">
          <blockquote class="twitter-tweet tw-align-center" data-lang="en" data-conversation="none">
            <a class="tweet-link" href="https://twitter.com/realDonaldTrump/status/844886082663698436"></a>
          </blockquote>
        </div>
      </div>
    </div>
</div>
</main>

<script>
  var whitelist = ['Ocare', 'Chicago', 'inner cities', 'sad', 'total scam'];
  var blacklist = ['washinon'];
  $(document).ready(function () {

    jQuery.getJSON('/api/tweets/search?q=fake', function(data) {
      console.log(data);
    })
    jQuery.getJSON('/api/terms', function (data) {
      var postedTerms = [];
      for (var i = 0; i < data.length; i++) {
        postedTerms.push(data[i].term.toLowerCase());
        var html = '<div class="js-trigger-item item">' + data[i].term + '</div>';
        if (blacklist.indexOf(data[i].term.toLowerCase()) < 0) {
          $('.js-select-trigger .js-fill').append(html);

        }
      }
      var wlHtml = '';
      whitelist.forEach(function (term) {
        if (postedTerms.indexOf(term.toLowerCase()) < 0) {
          wlHtml = '<div class="item js-trigger-item">' + term + '</div>';
          $('.js-select-trigger .js-fill').append(wlHtml);
        }
      });
    })

  })

</script>

<!--
<footer>
  <span style="float: left">                      <a href="#" class="item"><i class="ui icon github"></i>View Source</a>
</span>
  <div style="display: inline-block; float: right">

    <a href="#" class="item"><i class="ui icon twitter"></i> Twitter</a>
    <a href="#" class="item"><i class="ui icon facebook"></i> Facebook</a>

    <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i> Contact</a>

  </div>
</footer>
-->
<!-- Load vendor scripts -->
