{{> header}}
<style>
  html {
    overflow-y: hidden;
  }

</style>
<main class="main-landing">
  <section class="landing-left" style="overflow-y: hidden">
    <div data-tagul-src="//cdn.wordart.com/json/m8k9mxvep085" class="js-word-cloud"></div>
  </section>
  <section class="landing-right">
    <div>
      <h1 class="headline">When Trump goes low, you go high. <br><span>Automatically. Even at 5AM.</span></h1>
      <p class="subheader"> Pick the Trumpism you <i>hate</i>, the charity you <i>love</i>, and the amount per tweet. Weather the next tweetstorm
        and turn his Fox-fueled anger into something good. <span class="hashtag"><a href="https://twitter.com/search?q=%23DonateForDonald&src=typd&lang=en" >#DonateForDonald</a></span></p>
    </div>
    <div class="ui form landing-form">
      <div class="center triggers js-select-trigger">
        <div class="ui huge dropdown labeled fluid inline search icon basic button">
          <input type="hidden" name="trigger">
          <i class="quote left icon"></i>
          <div class="default text js-trigger-text">Select a trigger</div>
          <div class="menu js-fill">
          </div>
        </div>
      </div>
      <div class="center charities js-select-charity">
        <div class="ui huge dropdown labeled fluid inline basic search icon button">
          <input type="hidden" name="charity">
          <i class="heart icon"></i>
          <div class="default text">Choose a charity</div>
          <div class="menu" id="charities">
          </div>
        </div>
        <br>
        <!-- Choose amount -->
        <style>
          html {
            overflow: hidden;
          }

          .main-landing {
            overflow-y: auto;
          }

          input.mobile-amount {
            border-left: none !important;
            border-right: 1px solid #ddd !important;
            border-top: 1px solid #ddd !important;
            border-bottom: 1px solid #ddd !important;
          }

          @media only screen and (max-width: 480px) {
            .mobile-responsive-input {
              width: 30% !important;
            }
          }

        </style>
        <div class="choose-amount mobile-amounts js-amounts" style="width: 100%">

          <a class="ui huge toggle button mobile-amt amount-1 fluid" style="width: 20%; display: inline-block">$1</a>
          <a class="ui huge toggle button mobile-amt amount-5 fluid" style="width: 20%; display: inline-block">$5</a>
          <a class="ui huge toggle button mobile-amt amount-10 fluid" style="width: 23%; display: inline-block">$10</a>
          <div class="mobile-responsive-input" style="display: inline-block; margin-right: 0px; padding: 0px; width: 30%">
            <a class="ui huge toggle mobile-amt button js-toggle-other fluid visible" style="margin-right: 0px;">
                Other
              </a>
            <div class="js-mobile-input ui huge fluid labeled input" style="height: 49px; position: relative; display: none;">
              <div class="ui basic label" style="color: #bbb; padding-left: 10px; padding-right: 5px; font-weight: 400; border-right: none; position: relative; padding-top: 14px">$</div>
              <input class="mobile-amount" type="number" name="amount" min="1" max="9999" style='padding-left: 0px; padding-right: 10px; outline: none; position: relative'>
            </div>
            <script>
              $('.js-toggle-other').on('click', function () {
                $('js-mobile-input').css('display', '')
                $(this).css('display', 'none');
                $('.js-mobile-input').css('display', '');
                $('.mobile-amount').focus();
                $('.mobile-amount').attr('value', '');
              });


              $('.mobile-amt').css('padding', '15px 25px');
              $('.mobile-amt').not($('.js-toggle-other')).on('click', function () {
                $('.js-mobile-input').css('display', 'none');
                $('.js-toggle-other').css('display', '');
                $('a.js-toggle-other').focusout().blur();
              });
            </script>
          </div>
        </div>
        <script>
              $('.js-amount-other').on('click', function () {
                $('a', this).addClass('selected-amount');
                $(".selected-amount").not($('a', this)).removeClass('selected-amount');
              });
        </script>
        <!-- End choose amount -->

        <style>
          @media only screen and (max-width: 500px) {
            .long-button-text {
              display: none;
            }
          }

        </style>

        <!-- Landing CTAs -->
        <div class="two-buttons">


          <!-- CTA: Donate -->

          <!-- End CTA: Donate -->
          <!-- CTA: View Tweets -->
          <div class="left-button">
            <button class="ui icon huge button basic disabled fluid js-tweets" style="border: 1px solid #ddd">
                <i class="twitter icon"></i> View<span class="long-button-text"> Tweets</span>
              </button>
          </div>
          <div class="right-button js-donate">
            <button class="ui huge icon button disabled fluid js-action-btn" onclick="landingDonate()">
                <i class="lightning icon"></i> Donate
              </button>
          </div>
          <!-- End CTA: View Tweets -->

        </div>
        <!-- End landing CTAs -->

      </div>

    </div>
  </section>
  <style>
    .pre-load {
      font-family: 'Helvetica' !important;
      font-size: 16px !important;
    }

    .pre-load p {
      margin-top: 10px;
    }

    .pre-load .screen-name {
      font-size: 90%;
      font-weight: 300;
    }

  </style>
  <div class="ui left sidebar overlay wrapper tweet-drawer js-tweet-drawer" style="z-index: 999; margin: 0px; padding: 0px">
    <div class="drawer-controls">
      <a class="ui fluid massive primary button icon squared">
        <div>
          <i class="twitter icon"></i><span class="js-tweet-term tweet-term"></span><span class=" tweet-count js-tweet-count"></span>
          <button class="ui button primary mini icon js-close-tweets" id="close-tweets"><i class="ui large cancel icon"></i></button>
        </div>
      </a>
    </div>
    <div class="tweets">
      <div class="js-loading">
        <img src="images/loading.gif" />
      </div>
      <p>Select a trigger to view tweets</p>
    </div>
  </div>
  </div>
</main>
{{> footer}}
