<body class="site">
  <main style="width: 100%">
    <div class="ui text container" style="width: 100%; max-width: 400px; width: 500px; margin: 5% auto">
      <a href="/">
      <img src="/images/profile.jpg" style="width: 100px; height: auto; margin-bottom: 40px" />
      </a>
<div class="ui error message" style="position: relative; top: -10px; margin: 0px; display: none">
  <i class="close icon"></i>
  <div class="header">
    There were some errors with your submission
  </div>
  <ul class="list js-login-errors">
    <li>You must include both a upper and lower case letters in your password.</li>
    <li>You need to select your home country.</li>
  </ul>
</div>
<br>
<form id="login-form" method="POST" action="/login" class="ui massive form" style="padding-bottom: 10px;">

  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <div class="field">
    <input type="email" class="ui input massive" name="email" placeholder="Email">
  </div>
  <div class="field">
    <input type="password" name="password" placeholder="Password">
  </div>

<div class="ui two-buttons" style="margin-top: 0px; padding: 0px">
  <button type='submit' class="ui massive primary button signup-button js-action-btn" type="submit">
    Sign Up
  </button>
<button type='submit' class="ui basic massive button login-button js-action-btn" type="submit">
    Log In
  </button>
</div>
  </form>
  <div class="" style="padding: 30px 0px 0px 0px; border-top: 2px solid #eee ; margin-top: 20px;">
    <a class="fluid ui button facebook massive icon js-action-btn" href="/auth/facebook"><i class="ui icon facebook"></i> Use Facebook</a>
  </div>
  <a class="forgot-pass" href="/reset" style="float: right; margin-top: 20px; ">Forgot Password</a>


      </div>
  </main>
<script>
$('.js-action-btn').on('click', function() {
        $('.js-action-btn').addClass('loading');

  });
  </script> 