<body class="site">
  <main style="width: 100%">
    <div class="ui text container" style="width: 100%; max-width: 400px; width: 500px; margin: 5% auto">
      <a href="/">
      <img src="/images/profile.jpg" style="width: 100px; height: auto; margin-bottom: 40px" />
      </a>
        <br>
<form id="login-form" method="POST" action="/login" class="ui massive form" style="padding-bottom: 10px;">

  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <div class="field">
    <input type="email" class="ui input massive" name="email" placeholder="Email">
  </div>
  <div class="field">
    <input type="password" name="password" placeholder="Password">
  </div>

<div class="ui two-buttons" style="margin-top: 0px; padding: 0px">
  <button type='submit' class="ui massive primary button signup-button" type="submit">
    Sign Up
  </button>
<button type='submit' class="ui basic massive button login-button" type="submit">
    Log In
  </button>
</div>
  </form>
  <div class="" style="padding: 30px 0px 0px 0px; border-top: 2px solid #eee ; margin-top: 20px;">
    <a class="fluid ui button facebook massive icon" href="/auth/facebook"><i class="ui icon facebook"></i> Use Facebook</a>
  </div>
  <a class="forgot-pass" href="/reset" style="float: right; margin-top: 20px; ">Forgot Password</a>


      </div>
  </main>
