<!-- Page -->
<script>
  $(document).ready(function () {
    $('main').fadeIn('1000');
  });

</script>
<style>
  html {
    height: 100% !important;
  }

</style>

<body class="site" style="max-height: 100%">
  {{> header}}
  <main>
    <div class="ui text container web-form" style="max-width: 400px">
      <h1 style="max-width: 600px; margin: 0px auto; padding: 0px">{{title}}
      </h1>
      <div class="ui subheader" style="max-width: 600px; margin: 10px auto 20px auto"><span>Donations are processed when a tweet containing your trigger is posted. Check your email for tax-deductible donation
        receipts at the end of each month. Payment processing fees are <a style="display: inline-block" href="/faq/payment" class="forgot-pass">2.9% per donation</a>.</span>
      </div>
      <form class="ui large form" id="payment-form" style="max-width: 600px; margin: 0 auto">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="two fields">
          <div class="field">

            <label>First Name</label>

            <input placeholder="First Name" type="text" name="first_name" data-panda="first_name">

          </div>
          <div class="field">
            <label>Last Name</label>

            <input placeholder="Last Name" name="last_name" type="text" data-panda="last_name">
          </div>
        </div>
        <div class="fields">
          <div class="seven wide field" style="padding: 20px auto">
            <label>Card Number</label>
            <input type="number" name="credit_card" maxlength="16" placeholder="Card #" data-panda="credit_card">
          </div>
          <div class="three wide field mobile-field" style="padding: 20px auto">
            <label class="mobile-label">CVV</label>
            <input type="number" name="cvv" maxlength="4" placeholder="CVV" data-panda="cvv">
          </div>
          <br>
          <div class="six wide field mobile-field" style="padding: 20px auto">
            <label class="mobile-label">Expiration</label>
            <input type="text" name="expiration" maxlength="7" placeholder="MM/YYYY" data-panda="expiration">
          </div>
        </div>
    </div>
    <div class="maximum field" style="margin: 10px auto; max-width: 600px; width: 100%; padding: 10px">
      <div class="ui toggle inline checkbox js-maximum-toggle">
        <input type="checkbox" name="public">
        <label style="padding-right: 7px;">Set monthly limit</label>
      </div>
      <div class="ui labeled inline mini input disabled js-maximum-amount">
        <div class="ui basic label">$</div>
        <input type="text" placeholder="100" style="width: 70px" maxlength="4">
      </div>
    </div>
    <div style="max-width: 600px;margin: 0 auto; padding: 10px;">
      <button class="ui primary massive button fluid save-payment-btn js-save-payment" type="submit">Save</button>
    </div>

    </form>
    </div>
  </main>
  <script src="//d2t45z63lq9zlh.cloudfront.net/panda-v0.0.5.min.js"></script>

  <script>
   

    Panda.init('pk_test_DGoDgSY4_9eNPYwXWQyNKg', 'payment-form');

    Panda.on('success', function (cardToken) {
      // You now have a token you can use to refer to that credit card later.
      // This token is used in PandaPay API calls for creating donations and grants
      // so that you don't have to worry about security concerns with dealing with
      // credit card data.
      var data = { paymentToken: cardToken }
      if($('.js-maximum-amount input').val() && $('.js-maximum-amount input').val() !== 0 ) {
        var maximum = $('.js-maximum-amount input').val();
        console.log(maximum);
        data.monthlyLimit = maximum;
      }
      jQuery.ajax({
        type: 'put',
        url: '/api/users/' + user.id,
        data: data,
        success: function() {
          console.log('Token', cardToken, 'stored');
          window.location.replace("/social");
        },
        dataType: 'json'
      })
    });

    Panda.on('error', function (errors) {
      // errors is a human-readable list of things that went wrong
      //  (invalid card number, missing last name, etc.)
      console.log(errors);
    });
  </script>
  <!--
  <footer>
    <span style="float: left">                      <a href="#" class="item"><i class="ui icon github"></i>View Source</a>
</span>
    <div style="display: inline-block; float: right">

      <a href="#" class="item"><i class="ui icon twitter"></i> Twitter</a>
      <a href="#" class="item"><i class="ui icon facebook"></i> Facebook</a>

      <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i> Contact</a>

    </div>
  </footer>
  -->
