
<body class="site">
  <main style="width: 100%">
    <div class="ui text container" style="width: 100%; max-width: 400px; width: 500px; margin: 5% auto">
      <img src="/images/profile.jpg" style="width: 100px; height: auto; margin-bottom: 40px" />
        <br>
<form class="ui massive form" style="padding-bottom: 20px;">
  <div class="field">
    <input type="text" class="ui input massive"name="email" placeholder="Email">
  </div>
  <div class="field">
    <input type="password" name="password" placeholder="Password">
  </div>
    <a class="forgot-pass" href="#" style="float: right; font-size: 75%; position: relative; top: -5px">Forgot Password</a>
  <button class="ui primary massive button login-button" type="submit">Log In</button>

  <button class="ui massive basic button signup-button" type="submit">Sign Up</button>


  </form>
  <div class="" style="padding: 30px 0px 0px 0px; border-top: 2px solid #eee ; margin-top: 20px;">
    <button class="fluid ui button facebook massive icon"><i class="ui icon facebook"></i> Continue with Facebook</button>
  </div>
      </div>
  </main>
  <!--
  <footer>
    <span style="float: left">                      <a href="#" class="item"><i class="ui icon github"></i>View Source</a>
</span>
    <div style="display: inline-block; float: right">

      <a href="#" class="item"><i class="ui icon twitter"></i> Twitter</a>
      <a href="#" class="item"><i class="ui icon facebook"></i> Facebook</a>

      <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i> Contact</a>

    </div>
  </footer>
  -->
  <!-- Google Analytics -->
