<main style="width: 100%">
  <div class="ui text container" style="width: 100%; max-width: 400px; width: 500px; margin: 5% auto">
    <a href="/">
      <img src="/images/profile.jpg" style="width: 100px; height: auto; margin-bottom: 10px" /></a>
    <h1 class="header">Reset Your Password</h1>
    <p style="color: #888; margin-bottom: 30px; line-height: 160%">Type in your email to request a reset link. If an account exists, you should receive an email with a link to set a new password. </p>
    <form class="ui massive form" style="padding-bottom: 20px;">
      <div class="field">
        <input type="text" class="ui input massive" name="email" placeholder="Email">
      </div>
      <a class="forgot-pass" href="/login" style="float: right; font-size: 75%; position: relative; top: -5px">Back to Login</a>
      <button class="ui primary massive left labeled button login-button" type="submit"><i class="ui icon rocket"></i> Submit</button>

    </form>
  </div>
</main>
