<!-- Page -->
<style>
  html {
    height: 100% !important;
  }

  .divider {
    max-width: 450px !important;
  }

  .web-form {
    max-width: 450px !important;
  }

  button {
    margin-bottom: 15px !important;
  }

</style>

<body class="site" style="max-height: 100%">
 {{> header}}
  <main>
    <div class="ui web-form">
      <h1>{{title}}
      </h1>
      <h3>Change Password</h3>
      <form class="ui large form">
        <div class="field">
          <label>New Password</label>
          <div class="ui input">
            <input type="password" placeholder="New Password">
          </div>
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <div class="ui input">
            <input type="password" placeholder="Confirm Password">
          </div>
        </div>
        <div style="margin-top: 20px">
          <button class="ui primary button" type="submit">Update</button>
        </div>

      </form>
      <div class="ui divider"></div>
      <h3>Update Email</h3>
      <form class="ui large form">
        <div class="field">
          <label>Current Email</label>
          <p>{{user.email}}</p>
        </div>
        <div class="field">
          <label>New Email</label>
          <div class="ui input">
            <input type="text" placeholder="Email">
          </div>
        </div>
        <div style="margin-top: 20px">
          <button class="ui primary button" type="submit">Update</button>
        </div>

      </form>
      <div class="ui divider"></div>
      <h3>Link Accounts</h3>
     <div class="ui buttons">
       <button class="ui button facebook icon" style="border-radius: 3px"><i class="facebook icon"></i> Facebook</i></button>
       <button class="ui button twitter icon" style="margin-left: 10px; border-radius: 3px;"><i class="twitter icon"></i> Twitter</i></button>
       </div> 

      <div class="ui divider"></div>
      <h3>Delete Account</h3>
      <form class="ui large form delete-account-form js-delete-account-form">
        <div style="margin-top: 20px">
          <button class="ui red button icon delete-account-btn" type="submit"><i class="icon trash"></i>Delete My Account <b class="understated">Permanently</b></button>
        </div>
      </form>
    </div>
  </main>
  <!--
  <footer>
    <span style="float: left">                      <a href="#" class="item"><i class="ui icon github"></i>View Source</a>
</span>
    <div style="display: inline-block; float: right">

      <a href="#" class="item"><i class="ui icon twitter"></i> Twitter</a>
      <a href="#" class="item"><i class="ui icon facebook"></i> Facebook</a>

      <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i> Contact</a>

    </div>
  </footer>
  -->
