<!-- Page -->
<script>
  $(document).ready(function () {
    $('main').fadeIn('1000');
  });

</script>
<style>
  html {
    height: 100% !important;
    overflow: hidden !important;
  }

</style>

<body class="site" style="max-height: 100%">
  {{> header}}
  <main>
    <div class="ui text container web-form">
      <h1>Reply to Donald's Tweet
      </h1>
      <div class="ui subheader">
        When Trump's twitter tirades trigger your donation, you can reply to his tweet automatically to tell him that you've given
        more to charity than he ever has - and tag the charity too. 
      </div>
      <div class="social-tweet"style="font-size: 16px; margin-top: 20px; padding: 20px 20px; border-radius: 3px; border: 1px solid #eee;"><span>
        Donated to 
          <a class="ui icon large label" style="margin-left: 5px; margin-right: 5px;">
            <i class="icon heart"></i> Charity
          </a>
           for 
           <a class="ui icon large label" style="margin-left: 5px; margin-right: 5px">
            <i class="icon left quote"></i> Trigger
          </a>
          <span><a href="#" style="padding-top: 10px; display: inline-block">#DonateForDonald</a></span> 
          </span>
        
</div>
      <div>
        <a class="ui twitter icon massive fluid button" href="/twitter" style="margin: 40px auto 40px auto; font-weight: 400"><i class="icon twitter"></i> Connect Twitter</a>
      </div>
      <div class="nothanks">
        <a href="/triggers" style="float: right">Skip <i class="ui icon right chevron"></i></a>
      </div>

      </form>
    </div>
  </main>
  <!--
  <footer>
    <span style="float: left">                      <a href="#" class="item"><i class="ui icon github"></i>View Source</a>
</span>
    <div style="display: inline-block; float: right">

      <a href="#" class="item"><i class="ui icon twitter"></i> Twitter</a>
      <a href="#" class="item"><i class="ui icon facebook"></i> Facebook</a>

      <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i> Contact</a>

    </div>
  </footer>
  -->
