<!-- Page -->
<script>
  $(document).ready(function () {
    $('main').fadeIn('1000');
  });

</script>
<style>
  html {
    height: 100% !important;
    overflow: hidden !important;
  }

</style>

<body class="site" style="max-height: 100%">
  {{> header}}
  <main>
    <div class="ui text container web-form">
      <h1>Reply to Donald's Tweet
      </h1>
      <div class="ui subheader">
        When Trump's twitter tirades trigger your donation, you can reply to his tweet automatically to tell him that you've given
        more to charity than he ever has - and tag the charity too.
      </div>
      <div class="social-tweet" style="font-size: 16px; margin-top: 20px; padding: 20px 20px; border-radius: 3px; border: 1px solid #eee;"><span>
        Donated to 
          <a class="ui icon large label" style="margin-left: 5px; margin-right: 5px;">
            <i class="icon heart"></i> Charity
          </a>
           for 
           <a class="ui icon large label" style="margin-left: 5px; margin-right: 5px">
            <i class="icon left quote"></i> Trigger
          </a>
          <span><a href="#" style="padding-top: 10px; display: inline-block">#DonateForDonald</a></span>
        </span>

      </div>
      <div>
        {{#if user.twitter}}
        <a class="ui twitter icon massive fluid button connect-twitter" style="margin: 40px auto 40px auto; font-weight: 400"><i class="icon twitter"></i> Continue</a>
        {{else}}
        <a class="ui twitter icon massive fluid button connect-twitter" style="margin: 40px auto 40px auto; font-weight: 400"><i class="icon twitter"></i> Connect Twitter</a>
        {{/if}}
      </div>
      <a class="skip-link" style="cursor: pointer;float: right">Skip <i class="ui icon right chevron"></i></a>

      </form>
    </div>
  </main>
  <script>
    var redirectUrl = "/auth/twitter/callback";
    if(user.twitter) {
      redirectUrl = "/triggers";
    }
    $('.connect-twitter').on('click', function (event) {
      event.preventDefault();
      var rawTrigger = localStorage.getItem('trigger');
      if(rawTrigger) {
        var userTrigger = JSON.parse(rawTrigger);
        userTrigger.social = true;
        jQuery.ajax({
          type: 'post',
          url: '/api/triggers',
          data: userTrigger,
          success: function () {
            console.log('Trigger', userTrigger, 'stored');
            localStorage.clear();
            window.location = redirectUrl;
          },
          dataType: 'json'
        });
      } else {
        window.location = '/triggers'
      }
    });
    $('.skip-link').on('click', function (event) {
      event.preventDefault();
      var rawTrigger = localStorage.getItem('trigger');
      if (rawTrigger) {
        var userTrigger = JSON.parse(rawTrigger);
        jQuery.ajax({
          type: 'post',
          url: '/api/triggers',
          data: userTrigger,
          success: function () {
            console.log('Trigger', userTrigger, 'stored');
            localStorage.clear();
            window.location = "/triggers";
          },
          dataType: 'json'
        });
      } else {
        window.location = "/triggers";
      }
    });
  </script>
  <!--
  <footer>
    <span style="float: left">                      <a href="#" class="item"><i class="ui icon github"></i>View Source</a>
</span>
    <div style="display: inline-block; float: right">

      <a href="#" class="item"><i class="ui icon twitter"></i> Twitter</a>
      <a href="#" class="item"><i class="ui icon facebook"></i> Facebook</a>

      <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i> Contact</a>

    </div>
  </footer>
  -->
