<body class="site">
  {{> header}}
  <main>
    <div class="ui text container web-form">
      <h1>Reply to Donald's Tweet
      </h1>
      <div class="ui subheader">
        When Trump's twitter tirades trigger your donation, you can reply to his tweet automatically to tell him that you've given
        more to charity than he ever has - and tag the charity too.
      </div>
      <div class="social-tweet"><span>
        Donated to
          <a class="ui icon large label js-charity-label charity-label">
            <i class="icon heart"></i> Charity
          </a>
           for
           <a class="ui icon large label js-trigger-label trigger-label" data-inverted="">
            <i class="icon left quote"></i> Trigger
          </a>
          <span><a href="#" class="social-hashtag">#DonateForDonald</a></span>
        </span>

      </div>
      <div class="connect-twitter-btn">
        {{#if user.twitter}}
        <a class="ui twitter icon massive fluid button connect-twitter"><i class="icon twitter"></i> Continue</a>
        {{else}}
        <a class="ui twitter icon massive fluid button connect-twitter"><i class="icon twitter"></i> Connect Twitter</a>
        {{/if}}
      </div>
      <a class="skip-link" style="cursor: pointer;float: right">Skip <i class="ui icon right chevron"></i></a>

      </form>
    </div>
  </main>
  <script>
    var rawTrigger = localStorage.getItem('trigger');
    if(rawTrigger) {
      var userTrigger = JSON.parse(rawTrigger);
      $('.js-trigger-label').attr('data-content', userTrigger.name);
      $('.js-charity-label').attr('data-content', userTrigger.charityName);
      $('.js-charity-label').popup();
      $('.js-trigger-label').popup();
    }
    var redirectUrl = "/auth/twitter/callback";
    if(user.twitter) {
      redirectUrl = "/triggers";
    }
    $('.connect-twitter').on('click', function (event) {
      event.preventDefault();
      var rawTrigger = localStorage.getItem('trigger');
      if(rawTrigger) {
        var userTrigger = JSON.parse(rawTrigger);
        delete userTrigger.charityName;
        userTrigger.social = true;
        jQuery.ajax({
          type: 'post',
          url: '/api/triggers',
          data: userTrigger,
          success: function () {
            console.log('Trigger', userTrigger, 'stored');
            localStorage.clear();
            window.location = redirectUrl;
          },
          dataType: 'json'
        });
      } else {
        window.location = '/triggers'
      }
    });
    $('.skip-link').on('click', function (event) {
      event.preventDefault();
      var rawTrigger = localStorage.getItem('trigger');
      if (rawTrigger) {
        var userTrigger = JSON.parse(rawTrigger);
        delete userTrigger.charityName;
        jQuery.ajax({
          type: 'post',
          url: '/api/triggers',
          data: userTrigger,
          success: function () {
            console.log('Trigger', userTrigger, 'stored');
            localStorage.clear();
            window.location = "/triggers";
          },
          dataType: 'json'
        });
      } else {
        window.location = "/triggers";
      }
    });
  </script>
