{{> header}}

<div class="ui container web-form">
  <div class="ui cards">
    {{#each triggers}}
    <div class="ui centered card">
      {{#if this.charityId.image}}
      <div class="image">
      <img src="{{this.charityId.image}}">
      </div>
      {{/if}}
      <div class="content">
        <div class="right floated medium ui"><a href="#" style="color: inherit; position: relative; top: -5px"><i class="trash icon"></i></a></div>
        <div class="header">
          {{this.name}}
        </div>
        <div class="meta">
          ${{this.amount}} to {{this.charityId.name}}
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="usd icon"></i>
        100 donated
      </span>
        <span>
        <i class="twitter icon"></i>
        10 tweets
      </span>
      </div>
    </div>
    {{/each}}
    </div>
  </div>
