{{> header}}

<div class="ui text container">
  {{#each triggers}}
    <div>
      <div class="ui form landing-form">
        <div class="center js-select-trigger">
          <div class="ui huge dropdown labeled fluid inline icon basic button">
          <input type="hidden" name="trigger">
            <i class="quote left icon"></i>
            <div class="default text">{{this.name}}</div>
            <div class="menu js-fill">
            </div>
          </div>
        </div>
          <div class="center js-select-charity">
            <div class="ui huge dropdown labeled fluid inline basic icon button">
             <input type="hidden" name="charity">
              <i class="heart icon"></i>
              <div class="default text">{{this.charityId.name}}</div>
              </div>
            </div>
            <div class="center js-select-charity">
              <div class="ui huge dropdown labeled fluid inline basic icon button">
                <input type="hidden" name="charity">
                <i class="dollar icon"></i>
                <div class="default text">{{this.amount}}</div>
              </div>
            </div>
        </div>
    </div>
  {{/each}}
</div>
