{{> header}}

<div class="ui text container 404-page" style="margin-top: 0px; padding-top: 0px">
  <div class="ui center aligned js-no-triggers {{#if_not triggers}}{{else}}hide{{/if_not}}">
    <h1 class="ui header red no-triggers">
      Sad! Nothing here!
    </h1>
    <img src="images/maxs.png" style="width: 40%; min-width: 300px; display: block; margin: 0 auto; height: auto; margin-top: 4%"
    />
  </div>
</div>

{{>footer}}
