<!DOCTYPE HTML>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Responsive view -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site information  -->
  <title>Donate For Donald</title>
  <meta name="description" content="When Trump goes low, go high - automatically. Create triggers to donate to charity when Donald tweets specific phrases!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Arianna Israel">

  <!-- Load favicon  -->
  <link rel="apple-touch-icon" href="img/profile.jpg">
  <link rel="shortcut icon" href="img/profile.jpg" type="image/jpg">

  <!-- Load stylesheets  -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" integrity="sha256-5+W3JHnvGYIJkVxUBsw+jBi9+pOlu9enPX3vZapXj5M="
    crossorigin="anonymous" />
  <!-- Load vendor scripts -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
  <!-- Semantic UI -->
</head>

<!-- Page -->

<body class="site">
  <main style="width: 100%">
    <div class="ui text container" style="width: 100%; max-width: 400px; width: 500px; margin: 10% auto">
      <img src="img/profile.jpg" style="width: 100px; height: auto; margin-bottom: 40px" />
        <br>
<form class="ui massive form" style="padding-bottom: 20px;">
  <div class="field">
    <input type="text" class="ui input massive"name="email" placeholder="Email">
  </div>
  <div class="field">
    <input type="password" name="password" placeholder="Password">
  </div>
    <a class="forgot-pass" href="#" style="float: right; font-size: 75%; position: relative; top: -5px">Forgot Password</a>
  <button class="ui primary massive button" type="submit">Log In</button>

  <button class="ui massive basic button" type="submit">Sign Up</button>
    

  </form>
  <div class="" style="padding: 30px 0px 0px 0px; border-top: 2px solid #eee ; margin-top: 20px;">
    <button class="fluid ui button facebook massive icon"><i class="ui icon facebook"></i> Continue with Facebook</button>
  </div>
      </div>
  </main>
  <!-- 
  <footer>
    <span style="float: left">                      <a href="#" class="item"><i class="ui icon github"></i>View Source</a>
</span>
    <div style="display: inline-block; float: right">

      <a href="#" class="item"><i class="ui icon twitter"></i> Twitter</a>
      <a href="#" class="item"><i class="ui icon facebook"></i> Facebook</a>

      <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i> Contact</a>

    </div>
  </footer>
  -->
  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-92825533-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="js/charities.js"></script>
  <script src="js/triggers.js"></script>
  <!-- Load custom scripts -->
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <script sync src="https://platform.twitter.com/widgets.js"></script>

</body>

</html>
